{{ define "profile" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Страница изменения профиля</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
<h1>Изменение данных пользователя:</h1><br>
<table class="table table-bordered">
    <form enctype="multipart/form-data" action="/editprofile" method="post">
        <tr>
            <th>Логин</th>
            <td>{{.Login}}</td>
            <td><input class="form-control" type="text" placeholder="{{.Login}}" readonly></td>
        </tr>
        <tr>
        <th>Имя</th>
        <th>{{.Name}}</th>
        <th><input type="text"  value="{{.Name}}"   name="name" /><br></th>
    </tr>
    <tr>
        <th>Фамилия</th>
        <th>{{.Surname}}</td>
        <th><input type="text"  value="{{.Surname}}"    name="surname" /><br></th>
    </tr>
   <tr>
       <th>ВК пользователь</th>
       <th>{{.VKuser}}</th>
       <th><input type="text" value="{{.VKuser}}"   name="vkuser" /><br></th>
   </tr>
   <tr>
       <th>ВК пароль</th>
       <th>{{.VKpass}}</th>
       <th><input type="text" value="{{.VKpass}}"   name="vkpass" /><br></th>
   </tr>
    <tr>
        <th>ВК группа</th>
        <th>{{.VKgroups}}</th>
        <th><input type="text" value="{{.VKgroups}}"   name="vkgroups" /><br></th>
    </tr>
    <tr>
        <th>Телеграм bottoken(Перед запуском не забудьте добавить бота в группу указанную ниже.)</th>
        <th>{{.TelegramToken}}</th>
        <th><input type="text" value="{{.TelegramToken}}"    name="telegramtoken" /><br></th>
    </tr>
    <tr>
        <th>Телеграм группа</th>
        <th>{{.TelegramGroups}}</th>
        <th><input type="text" value="{{.TelegramGroups}}"    name="telegramgroups" /><br></th>
    </tr>
    <tr>
            <td><input class="btn btn-info" type="submit" value="Cохранить" /></td>
    </tr>
    </form>
</table>
{{ end }}
{{ define "message" }}
{{ if . }}
<div>
    {{ . }}
</div>
{{ end }}

<br>
<a class="btn btn-outline-success" href="/">Домой</a>
</body>
</html>
{{ end }}
