{{ define "signup" }}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Страница регистрации</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
<h1>Регистрация</h1>
<form class="col-sm-3" id="loginForm" name="signUpForm" action="/signup" method="post">
    <div class="form-group row">
        <label for="name" class="col-sm-5 col-form-label">Имя</label>
        <div class="col-sm-7">
        <input type="text" class="form-control" id="name" name="name" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="surname" class="col-sm-5 col-form-label">Фамилия</label>
        <div class="col-sm-7">
        <input type="text" class="form-control"  id="surname" name="surname" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="login" class="col-sm-5 col-form-label">Login</label>
        <div class="col-sm-7">
        <input type="login" class="form-control"  id="login" name="login" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="login" class="col-sm-5 col-form-label">Пароль</label>
        <div class="col-sm-7">
        <input type="password" class="form-control"  id="password" name="password" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="login" class="col-sm-5 col-form-label">Повторите пароль</label>
        <div class="col-sm-7">
        <input type="password"  class="form-control" id="password2" name="password2" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" name="submitBtn">Регануться</button>
</form>
{{ if . }}
<div>
    {{ .Message }}
</div>
{{ end }}
<br>
<a class="btn btn-outline-success" href="/login">Войти</a>
</body>
</html>
{{ end }}
